
a {
  color: $cinza-escuro;
  
  &:hover {
    text-decoration: none;
    color: $vermelho;
  }
}

p {
  font-size: 15px;
}

.titulo-produtos {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}

.btn-produtos {
  button {
    background: $vermelho !important;

    &:hover {
      background: $cinza-escuro !important;
    }
  }
}