body {
  background: $branco;
  font: {
    family: 'Roboto Condensed', sans-serif;
    size: 16px;
  }
  color: $cinza-escuro;
}

.container-fluid {
  max-width: 1140px;
}

.block-shadow {
  box-shadow: 0 0 10px $cinza-claro;
}

.img-efeito-produto {
  position: relative;

  &.img-efeito-produto-esquerda {
    &::before {
      left: -20px;
    }
  }

  &.img-efeito-produto-direita {
    &::before {
      right: -20px;
    }
  }

  img {
    position: relative;
    z-index: 10;

    border: 1px solid lighten($cinza-claro, 6%);
  }
  
  &::before {
    content: '';

    position: absolute;
    top: 20px;

    width: 100%;
    height: 100%;

    border: 2px dashed $cinza-claro;
  }
}


.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}


@media(min-width: 768px) {
  .margin-left-negative {
    margin-left: -15px;
  }
}