.home {

  header {
    position: relative;
    z-index: 100;
    background: transparent;
  }

  .wpb_revslider_element {
    margin-top: -140px;
  }

  .container-product-index {
    padding: {
      top: 3rem;
      bottom: 3rem;
    }

    background: {
      color: #801100;
    }
    
    p {
      color: $branco;
    }

    min-height: 450px;

    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        a {
          display: block;
          padding: 20px;
          margin-bottom: 5px;
          background: linear-gradient(90deg, darken($vermelho, 15%), rgba(255,255,255,0) 100%);
          color: $branco;

          &:hover{
            background: linear-gradient(90deg, $vermelho, rgba(255,255,255,0) 100%);
          }

        }
      }
    }
  } 

}

@media(min-width: 768px) {
  .home {
  
    .wpb_revslider_element {
      margin-top: -100px;
    }

    .titulo-produtos {
      font-size: 28px;
      padding-top: 10px;
    }

    .container-product-index {
      background: {
        color: transparent;
      }

      p {
        color: $cinza-escuro;
      }
    }
  
  }
}

@media(min-width: 992px) {
  .home {
    .container-product-index {
      background: {
        image: url('../images/back-produtos-index.png');
        repeat: no-repeat;
        position: top right;
        
      }

      ul {
        li {
          &.produto-1{
            margin-left: 240px;
          }
  
          &.produto-2{
            margin-left: 180px;
          }
  
          &.produto-3{
            margin-left: 120px;
          }
  
          &.produto-4{
            margin-left: 60px;
          }
  
          &.produto-5{
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media(min-width: 1140px) {
  .home {
    .container-product-index {
      background: {
        position: 486px;
      }
      
      .content-product {
        margin-right: 180px;
      }
    }
  }
}

@media(min-width: 1400px) {
  .home {
    .container-product-index {
      background: {
        image: url('../images/back-produtos-index-1080.png');
        position: center right;
      }
    }
  }
}