.pages {
  min-height: 600px;

  p {
    font-size: 18px;
  }

  h2.titulo-especial {
    font-size: 16px;
    color: darken($cinza-claro, 10%);
    margin: {
      top: 40px;
    }
  }

  .sub-titulo, h3.sub-titulo-especial {
    text-transform: uppercase;
    margin-bottom: 30px;

    font: {
      size: 22px;
      weight: bold;
    }

    color: $vermelho;
  }

  .catalisadores, .adsorventes-purificadores {
    background: #f9f9f9;
  }

  .catalisadores, .adsorventes-purificadores {
    .content-catalisadores, .content-adsorventes-purificadores {
      padding: 50px;
    }
  }

}

@media(min-width: 922px) {
  .pages {
    position: relative;

    /* &::before {
      content: '';
      width: 2px;
      position: absolute;
      left: 5%;
      top: 0;
      bottom: 0;
      z-index: 1;
      border-left: 2px dashed $cinza-claro;
    } */


    h3.sub-titulo-especial {
      position: absolute;
      left: -50px;
      top: 100px;

      transform: rotate(-90deg);
    }
  
    .content-rotate {
      position: relative;
      padding-left: 100px !important;
      box-sizing: border-box;
    }

    .catalisadores, .adsorventes-purificadores {
      .content-catalisadores, .content-adsorventes-purificadores {
        padding: {
          top: 0;
          bottom: 0;
          left: 100px;
          right: 100px;
        }        
      }
    }

    .catalisadores {
      .content-catalisadores {
        h1 {
          font-size: 1.7rem;
          text-align: justify;
        }
      }
    }
    /* Páginas - Adsorventes & Purificadores */
  
    .box-content-padding {
      padding: {
        left: 100px !important;
        right: 100px !important;
      }
    }

  }
}

@media(min-width: 1140px) {
  .page {
    .catalisadores, .adsorventes-purificadores {
      .content-catalisadores, .content-adsorventes-purificadores {
        padding: {
          left: 120px;
          right: 120px;
        }        
      }
    }
    /* Páginas - Adsorventes & Purificadores */
  }
}

@media(min-width: 1400px) {
  .page {
    .catalisadores, .adsorventes-purificadores {
      .content-catalisadores, .content-adsorventes-purificadores {
        padding: {
          left: 200px;
          right: 200px;
        }        
      }
    }
    /* Páginas - Adsorventes & Purificadores */
  }
}