.dados-contato-localizacao, .dados-contato {
  position: relative;

  &::before {
    display: inline-block;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-bottom: 2px dashed $cinza-claro;
    text-transform: uppercase;
    color: $vermelho;
    font-weight: bold;
  }
}

.dados-contato-localizacao {
  &::before {
    content: 'Localização';
  }
}

.dados-contato {
  &::before {
    content: 'Contato';
  }
}

.phone-contato, .localization-contato {
  &::after {
    position: absolute;
    top: 0;
    font-family: "Font Awesome 5 Free"; font-weight: 900; 
  }
}

.phone-contato {
  &::after {
    content: "\f10b";
  }
}

.localization-contato {
  &::after {
    content: "\f3c5";
  }
}


@media(min-width: 992px) {
  .dados-contato-localizacao, .dados-contato {
    
    &::before {
      content: initial;
    }

    &::after {
      height: 100%;
      display: flex;
      align-items: center;
      border-right: 2px dashed $cinza-claro;
      padding-right: 20px;
      font-size: 30px;
      color: darken($cinza-claro, 10%);
      left: -80px;
    }
  }
}