footer {
  background: $cinza-claro;

  .block-footer {
    padding: {
      top: 80px;
      bottom: 80px;
    }
  }

  .footer-block-1 {
    background: $cinza-escuro;
    color: $branco;

    img {
      margin-bottom: 40px;
    }
  }

  .dados-footer {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 2px dashed $vermelho;
    margin-bottom: 40px;

    &::before {
      margin-right: 20px;
      font-size: 24px;
      vertical-align: middle;
      color: $vermelho;
    }
  }

  .phone {
    &::before {
      font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f10b";
    }
  }

  .localization {
    &::before {
      font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f3c5";
    }
  }

}

@media(min-width: 768px) {
  footer {
    .footer-block-1 {
      position: relative;
      padding-right: 80px;

      &::before {
        content: "";

        position: absolute;
        left: -100%;
        top: 0;
        bottom: 0;

        width: 100%;

        background: $cinza-escuro;
      }
    }
  }
}

@media(min-width: 992px) {
  footer {
    position: relative;

    &::before {
      content: '';
      width: 2px;
      position: absolute;
      left: 5%;
      top: 0;
      bottom: 0;
      z-index: 1;
      border-left: 2px dashed darken($cinza-claro, 30%);
    }
  }
}