
input, textarea {
  padding: 10px;
  border: 2px dashed $cinza-claro;
}

.nf-error .ninja-forms-field {
  border: 2px dashed $vermelho !important;
}

.nf-after-field .nf-error-msg, .nf-error-msg, .ninja-forms-req-symbol {
  color: $vermelho !important;
  font-size: 10px;
  text-transform: uppercase;
}

.nf-form-fields-required {
  margin-bottom: 20px; 
  font-size: 10px;
  text-transform: uppercase; 
}

input[type=button] {
  border: 0; 
  background: $vermelho;
  color: $branco;
  padding: 10px 20px;

  &:hover {
    background: $cinza-escuro;
  }
}