body {
  background: $branco;
  font: {
    family: 'Roboto', sans-serif;
    size: 16px;
  }
  color: $cinza-escuro;
}

.container-fluid {
  max-width: 1140px;
}

.block-shadow {
  box-shadow: 0 0 10px $cinza-claro;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}


@media(min-width: 768px) {
  .margin-left-negative {
    margin-left: -15px;
  }
}