header {
  background: $cinza-claro;
  color: $cinza-claro;

  a.logotipoHeader {
    display: block;

    margin: {
      top: 20px;
      bottom: 20px;
    }

    img {
      height: 50px;
    }
  }
}


@media(min-width: 768px) {
  header {
    a.logotipoHeader {
      margin: {
        top: 25px;
        bottom: 25px;
      }
    }
  }
}

@media(min-width: 992px) {
  header {
    &::before {
      content: '';
      width: 2px;
      position: absolute;
      left: 5%;
      top: 0;
      bottom: 0;
      z-index: 1;
      border-left: 2px dashed $cinza-claro;
    }
  }
}
