.home {

  header {
    position: relative;
    z-index: 100;
    background: transparent;
  }

  .wpb_revslider_element {
    margin-top: -140px;
  }

}

@media(min-width: 768px) {
  .home {
  
    .wpb_revslider_element {
      margin-top: -100px;
    }

    .titulo-produtos {
      font-size: 28px;
      padding-top: 10px;
    }
  
  }
}