.pages {
  min-height: 600px;

  h2.titulo-especial {
    font-size: 16px;
    color: darken($cinza-claro, 10%);
    margin: {
      top: 40px;
    }
  }

  .sub-titulo, h3.sub-titulo-especial {
    text-transform: uppercase;
    margin-bottom: 30px;

    font: {
      size: 22px;
      weight: bold;
    }

    color: $vermelho;
  }

}

@media(min-width: 922px) {
  .pages {
    position: relative;

    &::before {
      content: '';
      width: 2px;
      position: absolute;
      left: 5%;
      top: 0;
      bottom: 0;
      z-index: 1;
      border-left: 2px dashed $cinza-claro;
    }


    h3.sub-titulo-especial {
      position: absolute;
      left: -50px;
      top: 100px;

      transform: rotate(-90deg);
    }
  
    .content-rotate {
      position: relative;
      padding-left: 100px !important;
      box-sizing: border-box;
    }
  }
}