


@media(max-width: 767px) {
  #mega-menu-wrap-header-menu {
    margin: {
      left: -15px;
      right: -15px;
    }
  }
  /* Mega Menu */
}

@media(min-width: 768px) {
  #mega-menu-wrap-header-menu {
    a.mega-menu-link {
      padding: {
        left: 5px !important;
        right: 5px !important;
      }
    }
  }
}

@media(min-width: 992px) {
  #mega-menu-wrap-header-menu {
    a.mega-menu-link {
      padding: {
        left: 20px !important;
        right: 20px !important;
      }
    }
  }
}